server:
  port: 8083

spring:
  application:
    name: comment-service
  datasource:
    url: jdbc:postgresql://localhost:5432/moviedb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379

rate-limit:
  max-requests: 3
  window-seconds: 60

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}

grpc:
  server:
    port: 9083

---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    url: jdbc:postgresql://postgres:5432/moviedb
  data:
    redis:
      host: redis
      port: 6379
